.benefits {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.benefit {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    line-height: 22px;
    text-align: center;
    max-width: 350px;

    & img {
        max-height: 50px;
        max-width: 50px;
    }

    &__title {
        font-weight: 600;
        font-size: 18px;
        padding-bottom: 12px;
        padding-top: 32px;
    }

    &__description {
        font-size: 14px;
    }
}
