.loader {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 99999;
    justify-content: center;
    align-items: center;
    background-color: rgba(251, 148, 117, 0.9215686274509803);

    &__wrapper {
        height: 150px;
        width: 250px;
        border-radius: 8px;
        background-color: white;
        box-shadow: 2px 3px 10px -2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    &__load-content {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &_visible {
            display: flex;
        }
    }

    &__load-finished-content {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &_visible {
            display: flex;
        }
    }

    &__load-error-content {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &_visible {
            display: flex;
        }
    }

    &__load-icon {
        width: 50px;
        height: 50px;
        border: 10px solid #ef8e6e83;
        border-radius: 50%;
        border-left-color: #ef8f6e;
        animation: loader 1s linear infinite;
    }

    &__text {
        padding-top: 5px;
        text-align: center;
        font-size: 14px;
    }

    &_visible {
        display: flex;
    }
}

@keyframes loader {
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 768px) {
    .loader {
        &__wrapper {
            width: 90%;
        }

        &__text {
            font-size: 18px;
        }
    }
}
