// imported benefits from '../components/benefits';

.about {
    &__title {
        font-weight: 600;
        font-size: 48px;
        line-height: 59px;
        padding-bottom: 32px;
    }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 10px;
    }

    &__left-side {
        flex-basis: 48%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    &__description {
        font-size: 20px;
        line-height: 32px;
    }

    &__sub-description {
        font-size: 16px;
        line-height: 26px;
    }

    &__optional {
        font-size: 14px;
        line-height: 17px;
        color: #278aff;
        text-decoration: none;
        cursor: pointer;
    }

    &__right-side {
        width: 443px;
        height: 295px;

        & img {
            cursor: pointer;
        }
    }

    &__video {
        background-image: url("../images/video.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
    }

    &__video-description {
        padding-top: 10px;
        color: #ffffff;
    }

    &__benefits {
        padding-top: 50px;
    }
}

.benefits {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.benefit {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    line-height: 22px;
    text-align: center;
    max-width: 350px;

    & img {
        max-height: 50px;
        max-width: 50px;
    }

    &__title {
        font-weight: 600;
        font-size: 18px;
        padding-bottom: 12px;
        padding-top: 32px;
    }

    &__description {
        font-size: 14px;
    }
}


@media only screen and (max-width:760px){
    .about {
        &__content {
            flex-direction: column;
        }
    }
}