.masters {

    &__title {
        font-weight: bold;
        font-size: 48px;
        // line-height: 59px;
        padding-bottom: 32px;
    }

    &__description {
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 24px;
    }

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.master {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    &__photo {
        display: block;
        position: relative;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 8px;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: black;
            border-radius: 8px;
            opacity: 0;
            transition: 0.3s opacity;
        }

        &::after {
            cursor: pointer;
            content: "Записаться к мастеру";
            font-weight: 500;
            text-align: center;
            font-size: 14px;
            line-height: 17px;
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 45%;
            transform: translateY(-50%);
            left: 50%;
            transform: translateX(-50%);
            max-width: 120px;
            opacity: 0;
            transition: 0.5s opacity;
        }

        &:hover::after {
            opacity: 1;
        }

        &:hover::before {
            opacity: 0.5;
        }
    }

    &__name {
        padding: 20px 0 8px 0;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }

    &__profession {
        padding-bottom: 20px;
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
    }

    &__experience {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 992px) {
    .masters {

        &__title{
            font-size: 36px;
            padding-bottom: 16px;
        }
    }
}

@media screen and (max-width:768px){
    .master {

        &__experience {
            text-transform: uppercase;
            font-weight: 300;
            font-size: 12px;
            line-height: 15px;
            padding-bottom: 5px;
            border-bottom: 2px solid #fb9475;
            margin-bottom: 25px;
        }
    }
}
