.prices {
    &__title {
        font-weight: 600;
        font-size: 48px;
        // line-height: 59px;
        padding-bottom: 32px;
    }

    &__list {
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 36px;
        justify-content: space-between;
    }
    
    &__list-item {
        flex-basis: 40%;
    }

    &__links {
        padding-bottom: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 50px;
        justify-content: space-between;
    }

    &__links-item {
        margin-left: 20px;
        margin-right: 20px;
        white-space: nowrap;
        font-size: 14px;
        // padding: 4px;
        display: inline-block;
        // justify-content: center;

        & span {
            cursor: pointer;
            transition: 0.1s;

            &:hover {
            color: #00bf78;
            }
        }
    }
}

.active {
    display: flex;
}

.active-links {

    & span {
        font-weight: 500;
        color: #00bf78;
        border-color:  #00bf78;
        border-bottom: 2px solid;
    }
}

.price {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;

    &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 8px;
    }

    &__description {
        font-size: 14px;
        line-height: 17px;
    }

    &__value {
        font-weight: 600;
        font-size: 1.25em;
        line-height: 24px;
        color: #00bf78;
    }
}

@media screen and (max-width: 992px) {

  
    .prices{

        &__title {
            font-size: 36px;
            padding-bottom: 16px;
        }

        &__links {
            padding-bottom: 25px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        &__links-item {
            padding-top: 10px;
            padding-bottom: 10px;

            & span {

                // border: 2px solid orange;
                // padding: 2px;
                // border-radius: 5px;
            }
        }

        &__list {
        display: none;
        flex-direction: column;
        gap: 0px;
        }

        &__list-item {
            padding: 5px;
            border: 2px solid black;
            border-radius: 5px;
            margin-bottom: 5px;
            margin-top: 5px;
        }
    }

    .active {
        display: flex;
    }

}
