.prices {
    &__title {
        font-weight: 600;
        font-size: 48px;
        padding-bottom: 16px;
    }
    &__section-tabs {
        padding-top: 16px;
    }
    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 36px;
        justify-content: space-between;
    }

    &__list-item {
        flex-basis: 45%;
    }

    &__links {
        padding-bottom: 15px!important;
        display: flex;
    }

    &__links-item {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-weight: 500;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
        padding-bottom: 10px;
        
        &.swiper-slide-thumb-active {
            border-bottom: 2px solid #00bf78;
            color: #00bf78;
            box-shadow: 0 8px 5px -6px grey;
            transition: .2s;
        }

        &:hover {
            color: #00bf78;
            border-bottom: 2px solid #00bf78;
            transition: .1s;
        }
    }
}


.price {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;

    &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 8px;
    }

    &__description {
        font-size: 14px;
        line-height: 17px;
    }

    &__value {
        font-weight: 600;
        font-size: 1.25em;
        line-height: 24px;
        color: #00bf78;
    }
}

@media screen and (max-width: 992px) {
    .prices {
        &__title {
            font-size: 36px;
            padding-bottom: 16px;
        }

        &__links {
            padding-bottom: 25px;
        }

        &__links-item {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: 0px;
        }

        &__list-item {
            padding: 5px;
            border: 2px solid black;
            border-radius: 5px;
            margin-bottom: 5px;
            margin-top: 5px;
        }
    }
}