.prices {

    &__title {
      font-weight: 600;
      font-size: 48px;
      line-height: 59px;
      padding-bottom: 32px;
    }
  
    &__menu {
      padding-bottom: 50px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      padding-bottom: 50px;
  
      &-item {
        margin-right: 28px;
        font-size: 14px;
        line-height: 17px;
        border-bottom: 2px solid transparent;
        cursor: pointer;
  
        &:hover {
          color: #00BF78;
          border-bottom: 2px solid #00BF78;
        }
      }
    }
  
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4, min-content);
      column-gap: 126px;
      row-gap: 36px;
    }
  }
  
  .price {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
  
    &__title {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      padding-bottom: 8px;
    }
  
    &__description {
      font-size: 14px;
      line-height: 17px;
    }
  
    &__value {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #00BF78;
    }
  
  }