@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "libs";
@import "var";
@import "components/index.scss";
@import "layout/index.scss";

* {
    outline: none;
    font-family: "Montserrat", sans-serif;
    cursor: default;
}

body {
    min-width: 320px;
    color: $main-color;
}

.main {
    &__about {
        padding-top: 100px;
        padding-bottom: 50px; 
    }

    &__products {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    &__prices {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    &__masters {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    
    &__portfolio {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    &_dark-background {
        background-color: #f8f6f7;
    }
    
    &__contacts {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ffffff;
}

