@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "libs";
@import "var";
@import "components/index.scss";
@import "layout/index.scss";

* {
    outline: none;
    font-family: "Montserrat", sans-serif;
    cursor: default;
    transition: width .3;
}

body {
    min-width: 320px;
    color: $main-color;
    overflow-x:hidden;
    overflow-y:auto;
    &.fixed{
        overflow:hidden;
    }
}

.main {
    
    &__about {
        padding-top: $bloks-distance * 2;
        padding-bottom: $bloks-distance; 
    }

    &__products {
        padding-top: $bloks-distance;
        padding-bottom: $bloks-distance;
    }

    &__prices {
        padding-top: $bloks-distance;
        padding-bottom: $bloks-distance;
    }

    &__masters {
        padding-top: $bloks-distance * 1.6;
        padding-bottom: $bloks-distance * 1.6;
    }
    
    &__portfolio {
        padding-top: $bloks-distance * 2;
        padding-bottom: $bloks-distance * 2;
    }

    &_dark-background {
        background-color: #f8f6f7;
    }
    
    &__contacts {
        padding-top: $bloks-distance * 0.8;
        padding-bottom: $bloks-distance * 0.8;
    }
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ffffff;
}

@media screen and (max-width: 992px) {
    .main {
        &__about {
            padding-top: $bloks-distance;
            padding-bottom: $bloks-distance / 2; 
        }
    
        &__products {
            padding-top: $bloks-distance / 2;
            padding-bottom: $bloks-distance / 2;
        }
    
        &__prices {
            padding-top: $bloks-distance / 2;
            padding-bottom: $bloks-distance / 2;
        }
    
        &__masters {
            padding-top: $bloks-distance * 0.8;
            padding-bottom: $bloks-distance * 0.8;
        }
        
        &__portfolio {
            padding-top: $bloks-distance;
            padding-bottom: $bloks-distance;
        }
    
        &_dark-background {
            background-color: #f8f6f7;
        }
        
        &__contacts {
            padding-top: $bloks-distance * 0.4;
            padding-bottom: $bloks-distance * 0.4;
        }
    }
}
